:host {
  display: block;
}

.dc-menu-item-wrapper {
  font-family: var(--dc-font-family);
  color: var(--dc-primary-text-color);
  margin: 0;
  border-top: 1px solid var(--dc-ui-border-default);
  padding: 14px 16px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--dc-background-colour);
}

.dc-item-menu-icon {
  height: 16px;
  width: 16px;
  align-items: center;
  padding-right: 8px;
}

.dc-item-menu-icon path {
  fill: var(--dc-primary-text-color); 
}

.dc-item-menu-link, .dc-item-menu-button { 
  display: flex;
  text-align: center;
  text-decoration: none;
  font-family: var(--dc-font-family);
  color: var(--dc-primary-text-color);
  font-size: 14px;
  outline: none;
  border: 0;
  background-color: var(--dc-background-colour);
  padding: 0;
}

:host(:first-child) .dc-menu-item-wrapper {
  border-top: none;
}
