:host {
  display: flex;
}

.dc-overflow-menu-horizontal path,
.dc-overflow-menu-vertical path  {
  fill: var(--dc-primary-text-color);
  outline: none;
}

.dc-overflow-menu-horizontal {
  transform: rotate(90deg);
  position: relative;
}

.dc-overflow-dropdown-options {
  display: flex;
  max-width: 272px;
  min-width: 140px;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 8px;
  justify-content: center;
  box-shadow: var(--dc-primary-box-shadow);
}

.dc-overflow-menu-wrapper:focus-visible {
  outline: 3px solid var(--dc-primary-colour);
}

.dc-overflow-menu-horizontal:focus,
.dc-overflow-menu-vertical:focus {
  outline: none;
}
