:host {
  display: flex;
}

.dc-overflow-menu-horizontal {
  transform: rotate(90deg);
  position: relative;
}
 
.dropdown-options {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 8px;
  justify-content: center;
  box-shadow: var(--dc-primary-box-shadow);
}

.dc-menu-item-small {
  width: 140px;
}

.dc-menu-item-standard  {
  width: 272px;
}