:host {
  display: block;
}

.dc-menu-item-wrapper {
  font-family: var(--dc-font-family);
  color: var(--dc-primary-text-color);
  margin: 0;
  border-bottom: 1px solid var(--dc-ui-border-default);
  padding: 2px 3px 3px;
  outline: none;
  height: 52px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--dc-background-colour);
}

.dc-item-menu-icon {
  display: inline-flex;
  padding-right: 12px;
 width: 14px;
 height: 14px;
 padding-right: 12px;
}
:host(:last-child) .dc-menu-item-wrapper {
  border-bottom: 0;
}
