:host {
  display: block;
  font-family: var(--dc-font-family);
  font-weight: 400;
}

.dc-checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 300px;
  height: 36px;
}

.dc-checkbox-input {
  outline: 3px solid transparent;
  outline-offset: 1px;
  border: 1px solid var(--dc-greyscale-05);
  appearance: none;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--dc-primary-background);
  margin: 0;
  padding: 0;
}

.dc-checkbox-label {
  outline: none;
  font-family: var(--dc-primary-font);
  font-weight: 400;
  color: var(--dc-primary-text-color);
  letter-spacing: -0.2px;
}

.dc-checkbox-size-standard .dc-checkbox-input {
  width: 24px;
  height: 24px;
}

.dc-checkbox-size-small .dc-checkbox-input {
  width: 20px;
  height: 20px;
}

.dc-checkbox-size-standard .dc-checkbox-label {
  font-size: 16px;
  line-height: 24px;
  padding-left: 12px;
}

.dc-checkbox-size-small .dc-checkbox-label {
  font-size: 14px;
  padding-left: 8px;
}

.dc-checkbox-size-standard.dc-checkbox-child {
  margin-left: 37px;
}

.dc-checkbox-size-small.dc-checkbox-child {
  margin-left: 29px;
}

.dc-checkbox-input:checked {
  background-color: var(--dc-primary-colour);
  background-image: url("data:image/svg+xml,%3csvg width='14' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.851 11.563a.765.765 0 0 1-.541-.243L.217 6.91c-.299-.318-.28-.822 0-1.14.3-.318.767-.3 1.065 0l3.55 3.83L12.7.688A.73.73 0 0 1 13.764.65c.299.299.317.803.037 1.14L5.41 11.32c-.167.15-.354.243-.56.243Z' fill='white'/%3e%3c/svg%3e");
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.dc-checkbox-size-small .dc-checkbox-input:checked {
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.dc-checkbox-input:focus-visible {
  outline: 3px solid var(--dc-primary-colour);
}

.dc-checkbox-input:hover:enabled {
  border: 1px solid var(--dc-primary-accent-colour);
  cursor: pointer;
}

.dc-checkbox-input:disabled {
  border-color: 1px solid var(--dc-grayscale-05);
  background-color: var(--dc-grayscale-06);
}

.dc-checkbox-input:disabled:checked {
  background-color: var(--dc-grayscale-06);
  background-image: url("data:image/svg+xml,%3csvg width='14' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.851 11.563a.765.765 0 0 1-.541-.243L.217 6.91c-.299-.318-.28-.822 0-1.14.3-.318.767-.3 1.065 0l3.55 3.83L12.7.688A.73.73 0 0 1 13.764.65c.299.299.317.803.037 1.14L5.41 11.32c-.167.15-.354.243-.56.243Z' fill='gray'/%3e%3c/svg%3e");
}

.dc-checkbox-error-msg {
  display: none;
  font-size: 12px;
  color: var(--dc-error-colour);
}

.dc-checkbox-error .dc-checkbox-error-msg {
  display: block;
}

.dc-checkbox-error .dc-checkbox-input {
  border: 1px solid var(--dc-error-colour);
}

.dc-checkbox-unknown .dc-checkbox-input {
  background-image: none;
  background-color: var(--dc-primary-colour);
}

.dc-checkbox-unknown.dc-checkbox-size-standard .dc-checkbox-input::after {
  display: inline-block;
  content: "";
  width: 14px;
  height: 2px;
  margin: 0 0 1px 4px;
  background-color: var(--dc-background-colour);
}

.dc-checkbox-unknown.dc-checkbox-size-small .dc-checkbox-input::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 2px;
  margin: 0 0 3px 3px;
  background-color: var(--dc-background-colour);
}
