:host {
  display: inline;
}
/*common css*/


.checkbox {
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: var(--dc-checkbox-border-radius);
  margin-right: 0.5em;
  align-items: center;
  vertical-align: bottom;
  background-color: var(--dc-primary-background);
  border: var(--dc-checkbox-border-enabled);
  border-radius: var(--dc-checkbox-border-radius);
  border: var(--dc-checkbox-border-enabled);
  position: relative;
}
.size-standard{
  width: 24px;
  height: 24px;

}
.size-small {
  width: 20px;
  height: 20px;

  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 4px;
}

/*  checked background checkbox*/
.checkbox:checked {
  background-color: var(--dc-checkbox-checked-background);
  border-radius: var(--dc-checkbox-border-radius);
}
.checkbox:checked::before {
  content: '\2714';
  font-size: 1.5em;
  color: #ffffff;
  position: absolute;
  right: 1px;
  top: -5px;
}
.checkbox:hover ,.size-standard:active{
  border: var(--dc-checkbox-border-hover);
}
.checkbox:focus {
  border: 3px solid #0055ff;
  border-radius: 4px;
}
/* .size-small {
  width: 20px;
  height: 20px;
  border-radius: var(--dc-checkbox-border-radius);
  margin-right: 0.5em;
  align-items: center;
  vertical-align: bottom;
  background-color: var(--dc-primary-background);
  border: var(--dc-checkbox-border-enabled);
  border-radius: var(--dc-checkbox-border-radius);
  border: var(--dc-checkbox-border-enabled);
  position: relative;
} */

.checkbox:disabled {
  content: '';
  border-color: 1px solid #dadada;
  background-color: var(--dc-checkbox-background-disabled);
  border-radius: var(--dc-checkbox-border-radius);
}
.checkbox:disabled :checked {
  background-color: var(--dc-checkbox-background-disabled);
}

.checkbox:disabled:checked::before {
  content: '\2714';
  align-content: center;
  justify-content: center;
  color: #999999;
  border-color: var(--dc-checkbox-border-enabled);
  position: absolute;
  right: 1px;
  top: -5px;
}
.checkbox:required {
  border: var(--dc-checkbox-error-border-color);
}


/* .size-small:checked {
  background-color: var(--dc-checkbox-checked-background);
  border-radius: var(--dc-checkbox-border-radius);

}
.size-small:checked::before {
  background: #FFFFFF;


}
.size-small:hover {
border: 1px solid #0055FF;
border-radius: 4px;

}
.size-small:disabled {
  content: '';
  border-color: 1px solid #dadada;
  background-color: var(--dc-checkbox-background-disabled);
  border-radius: var(--dc-checkbox-border-radius);

}
.size-small:disabled::before {
   content: '\2714';
  align-content: center;
  justify-content: center;
  color: #999999;
  border-color: var(--dc-checkbox-border-enabled);
  position: absolute;
  right: 1px;
  top: -5px;
}
.size-small:required{
  border: var(--dc-checkbox-error-border-color);
}*/

label {
  font-size: var(--dc-label-font-size);
  letter-spacing: -0.2px;
  font-style: normal;
  color: #0a1839;
  align-items: center;
  order: 1;
  flex-grow: 0;
  font-family: var(--dc-primary-font);
  gap: 1px;
  position: relative;
  line-height: 24px;
}

.small {
color: #cf364e;
position: relative;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: -0.12px;
position: absolute;
left: 0.36%;
top: 14.97%;
bottom: -1.34%;


}