
/*
This file contains variables and classes that are common across
all variants of the card component.
*/

:host {
  --border-radius: 8px;
  --box-shadow: 0 3px 6px #00000029;
  --content-padding: 24px;
}

.dc-card {
  background-color: var(--dc-background-colour);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  font-family: var(--dc-font-family);
  height: 100%;
  position: relative;
  width: 100%;
}

.dc-card-media-wrapper {
  display: flex;
  position: relative;
}

.dc-card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
}

.with-image {
  position: absolute;
  right: 0;
  top: 0;
}

.dc-card-image {
  object-position: center;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: 240px;
  width: 100%;
}

::slotted([slot="tags"]) {
  margin: 8px 8px 0 0;
}

.dc-card-content-wrapper {
  color: var(--dc-primary-text-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--content-padding);
}

.dc-card-title {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 18px;
  font-weight: var(--dc-heading5-weight);
  letter-spacing: var(--dc-heading5-spacing);
  line-height: 24px;
  overflow: hidden;
  word-break: break-word;
}

@media (--breakpoint-tablet) {
  .dc-card-title {
    font-size: var(--dc-heading5-size);
    line-height: var(--dc-heading5-height);
  }
}
