@import url("../../global/css/breakpoints.css");

:host {
  --border-radius: 8px;
  --box-shadow: 0 3px 6px #00000029;
  --content-padding: 24px;
  --description-height: 122px;
  --options-margin: 12px;
}

.dc-card {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  font-family: var(--dc-font-family);
  height: 100%;
  position: relative;
  width: 100%;
}

.dc-card-media-wrapper {
  background-color: #e5f1ff;
  display: flex;
  height: 240px;
  position: relative;
}

.dc-card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 0;
}

.dc-card-image {
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: 240px;
  width: 100%;
}

::slotted([slot="tags"]) {
  margin: 8px 8px 0 0;
}

.dc-card-content-wrapper {
  color: var(--dc-primary-text-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--content-padding);
}

.dc-card-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.dc-card-title {
  font-size: 18px;
  font-weight: var(--dc-heading5-weight);
  letter-spacing: var(--dc-heading5-spacing);
  line-height: 24px;
}

@media (--breakpoint-tablet) {
  .dc-card-title {
    font-size: var(--dc-heading5-size);
    line-height: var(--dc-heading5-height);
  }
}

.dc-card-expand-wrapper {
  align-items: center;
  display: flex;
  height: 24px;
}

@media (--breakpoint-tablet) {
  .dc-card-expand-wrapper {
    height: var(--dc-heading5-height);
  }
}

.dc-card-expand {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 12px;
}

.dc-card-chevron {
  width: 24px;
}

.dc-card-chevron path {
  fill: var(--dc-primary-text-color);
}

.dc-card-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dc-card-options-wrapper {
  flex-grow: 1;
  margin-bottom: 24px;
}

.dc-card-options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--options-margin));
  margin-right: calc(-1 * var(--options-margin));
}

::slotted([slot="options"]) {
  margin-right: var(--options-margin);
  margin-bottom: var(--options-margin);
}

.dc-card .dc-button-btn.sc-datacom-button {
  min-width: 100%;
}

@media (--breakpoint-tablet) {
  .dc-card .dc-button-btn.sc-datacom-button {
    min-width: 137px;
  }
}

.dc-card-divider {
  background-color: var(--dc-background-colour);
  display: none;
  position: relative;
  width: 100%;
}

.dc-card-divider::after {
  content: "";
  border-top: 1px solid var(--dc-greyscale-05);
  display: block;
  margin: 0 var(--content-padding);
}

.dc-card-description-wrapper {
  display: none;
}

@media (--breakpoint-tablet) {
  .dc-card-description-wrapper {
    bottom: 0;
    height: 0;
    position: absolute;
    z-index: 1;
  }
}

.dc-card-description {
  background-color: var(--dc-background-colour);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  display: flex;
  padding: var(--content-padding) 0;
}

@media (--breakpoint-tablet) {
  .dc-card-description {
    box-shadow: var(--box-shadow);
    max-height: var(--description-height);
  }
}

.dc-card-description-text {
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding: 0 var(--content-padding);
  overflow-y: auto;
}

/* Expanded state styles */
@media (--breakpoint-tablet) {
  .expand.dc-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.expand .dc-card-chevron {
  transform: rotate(180deg);
}

.expand .dc-card-description-wrapper,
.expand .dc-card-divider {
  display: block;
}
