:host {
  --card-border-radius: 8px;
}

.dc-card {
  border-radius: var(--card-border-radius);
  box-shadow: 0 3px 6px #00000029;
  font-family: var(--dc-font-family);
  min-height: 200px;
}

.dc-card-media-wrapper {
  background-color: #e5f1ff;
  display: flex;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  height: 240px;
  position: relative;
}

.dc-card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 0;
}

.dc-card-image {
  background-position: center;
  background-size: cover;
  height: 240px;
  width: 100%;
}

::slotted([slot="tags"]) {
  margin: 8px 8px 0 0;
}

.dc-card-content-wrapper {
  padding: 24px;
}

.dc-card-date {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}

.dc-card-heading {
  font-size: var(--dc-heading5-size);
  font-weight: var(--dc-heading5-weight);
  letter-spacing: var(--dc-heading5-spacing);
  line-height: var(--dc-heading5-height);
  margin-bottom: 12px;
}

.dc-card-text {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: var(--dc-primary-text-color);
  display: -webkit-box;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 24px;
  overflow: hidden;
}
