@import url("../../global/css/breakpoints.css");

:host {
  --card-border-radius: 8px;
}

.dc-card {
  border-radius: var(--card-border-radius);
  box-shadow: 0 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  font-family: var(--dc-font-family);
  height: 100%;
}

.dc-card-media-wrapper {
  background-color: #e5f1ff;
  display: flex;
  height: 240px;
  position: relative;
}

.dc-card-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 0;
}

.dc-card-image {
  background-position: center;
  background-size: cover;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  height: 240px;
  width: 100%;
}

::slotted([slot="tags"]) {
  margin: 8px 8px 0 0;
}

.dc-card-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}

.dc-card-content {
  flex-grow: 1;
}

.dc-card-date {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}

.dc-card-title {
  font-size: 18px;
  font-weight: var(--dc-heading5-weight);
  letter-spacing: var(--dc-heading5-spacing);
  line-height: 24px;
  margin-bottom: 12px;
}

@media (--breakpoint-tablet) {
  .dc-card-title {
    font-size: var(--dc-heading5-size);
    line-height: var(--dc-heading5-height);
  }
}

.dc-card-text {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: var(--dc-primary-text-color);
  display: -webkit-box;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 24px;
  overflow: hidden;
}

.dc-card-actions {
  display: flex;
  justify-content: space-between;
}

.dc-card-action-icon-button {
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.dc-card-action-icon-button:focus-visible {
  outline: 2px solid var(--dc-primary-colour);
}

.dc-card-action-icon {
  height: 24px;
  width: 24px;
}

.dc-card-action-icon path {
  fill: var(--dc-primary-colour);
}
