:host {
  --section-border-radius: 10px;
  --section-padding: 24px;
}

/* Default styles */
.dc-accordion-section {
  border-radius: var(--section-border-radius);
  box-shadow: 0 3px 6px #00000029;
  display: flex;
  flex-direction: column;
}

.dc-accordion-section-heading {
  background-color: var(--dc-background-colour);
  border: 0;
  border-radius: var(--section-border-radius);
  color: var(--dc-primary-text-color);
  cursor: pointer;
  font-family: var(--dc-font-family);
  font-size: 24px;
  font-weight: 500;
  padding: var(--section-padding) var(--section-padding) 0;
}

.dc-accordion-section-heading-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--section-padding);
}

.dc-accordion-section-chevron {
  width: 24px;
}

.dc-accordion-section-chevron path {
  fill: var(--dc-primary-text-color);
}

.dc-accordion-section-content {
  color: var(--dc-primary-text-color);
  display: none;
  font-family: var(--dc-font-family);
  padding: var(--section-padding);
}

/* Hover state styles */
.dc-accordion-section-heading:hover {
  background-color: var(--dc-grayscale-06);
}

/* Focus state styles */
.dc-accordion-section-heading:focus {
  outline: 3px solid var(--dc-primary-colour);
  z-index: 1;
}

/* Expanded state styles */
.expand .dc-accordion-section-heading {
  border-radius: var(--section-border-radius) var(--section-border-radius) 0 0;
}

.expand .dc-accordion-section-heading-content {
  border-bottom: 1px solid var(--dc-greyscale-05);
}

.expand .dc-accordion-section-chevron {
  transform: rotate(180deg);
}

.expand .dc-accordion-section-content {
  display: flex;
}

/* Disabled state styles */
.disabled .dc-accordion-section-heading:hover {
  background-color: var(--dc-background-colour);
  cursor: default;
}

.disabled .dc-accordion-section-heading-content {
  color: var(--dc-greyscale-05);
}

.disabled .dc-accordion-section-chevron path {
  fill: var(--dc-greyscale-05);
}
