/*
Below are custom media queries for defining breakpoints for our
component CSS (made possible using the "postcss-custom-media"
PostCSS plugin). They're written in a "mobile-first" approach
and can be applied into a normal '@media' CSS rule like below.

Example CSS:

// "Mobile width" CSS styles go here
background-color: red;

@media(--tablet-breakpoint) {
    // "Tablet width and up" CSS styles go here
    background-color: blue;
}

@media(--desktop-breakpoint) {
    // "Desktop width and up" CSS styles go here
    background-color: yellow;
}
*/
@custom-media --breakpoint-tablet (min-width: 500px);
@custom-media --breakpoint-desktop (min-width: 900px);
@custom-media --breakpoint-large-desktop (min-width: 1300px);
