/**
    Light theme. 

    Convention follows dc-{control}-{variant}-{variable}
    - Prefixed with dc
    - Main variant or concatenated variants such as 'primary-small'
    - Use css attribute names where possible
*/
:root {
  /* Global defaults */
  --dc-background-colour: #ffffff;
  --dc-background-accent-color: #f0f0f0;
  --dc-font-family: 'Montserrat';
  --dc-font-size: 18px;
  --dc-primary-colour: #0055ff;
  --dc-primary-accent-colour: #003fbc;
  --dc-primary-disabled-colour: #999999;
  --dc-error-colour: #cf364e;
  --dc-greyscale-05: #dadada;
  --ui-greyscale-04: #999999;
  --dc-greyscale-03: #666666;
  --dc-primary-text-color: #0a1839;

  /* Buttons */
  --dc-button-primary-text-colour: #ffffff;
}
