:host {
  display: block;
  --li-padding: 8px;
}
:host * {
  font-family: var(--dc-font-family);
  color: var(--dc-primary-text-color);
  font-style: normal;
  font-size: 16px;
  padding-left: var(--li-padding);
  line-height: 24px;
}

.dc-li-item {
  font-weight: 400;
}

li::marker {
  font-size: 400;
  line-height: 20px;
  text-align: right;
  position: absolute;
  letter-spacing: -0.25px;
}

.dc-li-heading {
  font-weight: 700;
}
