:root {
--dc-token-background-white-theme: #ffffff;
--dc-token-ui-background-dark-theme: #000A14;
--dc-token-ui-background-light-theme: #CCD9FC;
--dc-token-overlay-dark-01: #000A14;
--dc-token-overlay-dark-02: #00167f;
--dc-token-overlay-light-01: #002BFE;
--dc-token-text-01: #000A14;
--dc-token-text-02: #ffffff;
--dc-token-text-03: #00167f;
--dc-token-text-04: #80A0F8;
--dc-token-text-05: #666666;
--dc-token-text-06: #999999;
--dc-token-border-default-01: #80858A;
--dc-token-ui-01: #ffffff;
--dc-token-ui-02: #000A14;
--dc-token-ui-03: #00167f;
--dc-token-ui-04: #002BFE;
--dc-token-ui-05: #80A0F8;
--dc-token-ui-06: #FF0070;
--dc-token-ui-07: #FF5C00;
--dc-token-ui-08: #4ADEFF;
--dc-token-ui-09: #00D1C4;
--dc-token-interactive-01: #002BFE;
--dc-token-interactive-02: #ffffff;
--dc-token-interactive-03: #80A0F8;
--dc-token-interactive-04: #000A14;
--dc-token-interactive-05: #FF338D;
--dc-token-interactive-06: #FF80B8;
--dc-token-interactive-hover-01: #0022CB;
--dc-token-interactive-hover-02: #E6E7E8;
--dc-token-interactive-hover-03: #CCD9FC;
--dc-token-interactive-hover-04: #1A232C;
--dc-token-interactive-hover-05: #FF0070;
--dc-token-link-01: #002BFE;
--dc-token-link-hover-01: #0022CB;
--dc-token-link-02: #80A0F8;
--dc-token-link-hover-02: #CCD9FC;
--dc-token-link-03: #000A14;
--dc-token-link-04: #ffffff;
--dc-token-link-visited-white-theme: #6b2fc6;
--dc-token-link-visited-dark-theme: #b888ff;
--dc-token-ui-greyscale-01: #000000;
--dc-token-ui-greyscale-02: #333333;
--dc-token-ui-greyscale-03: #666666;
--dc-token-ui-greyscale-04: #999999;
--dc-token-ui-greyscale-05: #dadada;
--dc-token-ui-greyscale-06: #f0f0f0;
--dc-token-disabled-01: #999999;
--dc-token-disabled-02: #dadada;
--dc-token-disabled-03: #333333;
--dc-token-support-01: #FA0000;
--dc-token-support-02: #f0b02c;
--dc-token-support-03: #40b549;
--dc-token-support-04: #3366F3;
--dc-token-support-extended-01: #C80000;
--dc-token-support-extended-02: #B98922;
--dc-token-support-extended-03: #33913A;
--dc-token-support-extended-04: #0022CB;
--dc-token-ui-fill-extended-01: #1A232C;
--dc-token-ui-fill-extended-02: #4D545B;
--dc-token-ui-fill-extended-03: #80858A;
--dc-token-ui-fill-extended-04: #B3B6B9;
--dc-token-ui-fill-extended-05: #E6E7E8;
--dc-token-ui-fill-extended-06: #000419;
--dc-token-ui-fill-extended-07: #000B40;
--dc-token-ui-fill-extended-08: #001266;
--dc-token-ui-fill-extended-09: #334599;
--dc-token-ui-fill-extended-10: #808BBF;
--dc-token-ui-fill-extended-11: #CCD0E5;
--dc-token-ui-fill-extended-12: #000933;
--dc-token-ui-fill-extended-13: #00167F;
--dc-token-ui-fill-extended-14: #0022CB;
--dc-token-ui-fill-extended-15: #3366F3;
--dc-token-ui-fill-extended-16: #80A0F8;
--dc-token-ui-fill-extended-17: #CCD9FC;
--dc-token-ui-fill-extended-18: #330016;
--dc-token-ui-fill-extended-19: #800038;
--dc-token-ui-fill-extended-20: #CC005A;
--dc-token-ui-fill-extended-21: #FF338D;
--dc-token-ui-fill-extended-22: #FF80B8;
--dc-token-ui-fill-extended-23: #FFCCE2;
--dc-token-ui-fill-extended-24: #331200;
--dc-token-ui-fill-extended-25: #802E00;
--dc-token-ui-fill-extended-26: #CC4A00;
--dc-token-ui-fill-extended-27: #FF7D33;
--dc-token-ui-fill-extended-28: #FFAE80;
--dc-token-ui-fill-extended-29: #FFDECC;
--dc-token-ui-fill-extended-30: #0F2C33;
--dc-token-ui-fill-extended-31: #256F80;
--dc-token-ui-fill-extended-32: #3BB2CC;
--dc-token-ui-fill-extended-33: #6EE5FF;
--dc-token-ui-fill-extended-34: #A5EFFF;
--dc-token-ui-fill-extended-35: #DBF8FF;
--dc-token-ui-fill-extended-36: #002A27;
--dc-token-ui-fill-extended-37: #006962;
--dc-token-ui-fill-extended-38: #00A79D;
--dc-token-ui-fill-extended-39: #33DAD0;
--dc-token-ui-fill-extended-40: #80E8E2;
--dc-token-ui-fill-extended-41: #CCF6F3;
--dc-token-ui-fill-extended-42: #320000;
--dc-token-ui-fill-extended-43: #7D0000;
--dc-token-ui-fill-extended-44: #C80000;
--dc-token-ui-fill-extended-45: #FB3333;
--dc-token-ui-fill-extended-46: #FD8080;
--dc-token-ui-fill-extended-47: #FECCCC;
--dc-token-ui-fill-extended-48: #302309;
--dc-token-ui-fill-extended-49: #785816;
--dc-token-ui-fill-extended-50: #B98922;
--dc-token-ui-fill-extended-51: #F3C056;
--dc-token-ui-fill-extended-52: #F8D896;
--dc-token-ui-fill-extended-53: #FCEFD5;
--dc-token-ui-fill-extended-54: #0D240F;
--dc-token-ui-fill-extended-55: #205B25;
--dc-token-ui-fill-extended-56: #33913A;
--dc-token-ui-fill-extended-57: #66C46D;
--dc-token-ui-fill-extended-58: #A0DAA4;
--dc-token-ui-fill-extended-59: #D9F0DB;
}