:host {
  display: flex;

  --background-color: var(--dc-background-colour);
  --text-color: var(--dc-primary-text-color);
}

.dc-tooltip-hoc {
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.dc-tooltip-wrapper {
  box-sizing: border-box;
  display: flex;
  pointer-events: none;
  position: absolute;
  user-select: none;
  visibility: hidden;
  z-index: 1;
}

.show {
  visibility: visible;
}

.dc-tooltip {
  background-color: var(--background-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color);
  filter: drop-shadow(0 3px 8px rgba(0 0 0 / 20%));
  font-family: var(--dc-font-family);
  font-size: 12px;
  letter-spacing: -0.2px;
  line-height: 16px;
  max-width: 272px;
  padding: 8px 16px;
  position: relative;
  width: max-content;
}

.dc-tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

/* Tooltip orientation classes */

/* Top-related orientation classes */
.top {
  left: 50%;
  padding-bottom: 6px;
  top: 0;
  translate: -50% calc(-100% - 4px);
}

.top .dc-tooltip-arrow {
  border-color: var(--background-color) transparent transparent transparent;
  border-width: 6px 6px 0;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.top-left {
  left: 0;
  padding-bottom: 6px;
  top: 0;
  translate: 0 calc(-100% - 4px);
}

.top-left .dc-tooltip-arrow {
  border-color: var(--background-color) transparent transparent transparent;
  border-width: 6px 6px 0;
  left: 12px;
  top: 100%;
}

.top-right {
  padding-bottom: 6px;
  right: 0;
  top: 0;
  translate: 0 calc(-100% - 4px);
}

.top-right .dc-tooltip-arrow {
  border-color: var(--background-color) transparent transparent transparent;
  border-width: 6px 6px 0;
  right: 12px;
  top: 100%;
}

/* Bottom-related orientation classes */
.bottom {
  bottom: 0;
  left: 50%;
  padding-top: 6px;
  translate: -50% calc(100% + 4px);
}

.bottom .dc-tooltip-arrow {
  border-color: transparent transparent var(--background-color) transparent;
  border-width: 0 6px 6px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-left {
  bottom: 0;
  left: 0;
  padding-top: 6px;
  translate: 0 calc(100% + 4px);
}

.bottom-left .dc-tooltip-arrow {
  border-color: transparent transparent var(--background-color) transparent;
  border-width: 0 6px 6px;
  bottom: 100%;
  left: 12px;
}

.bottom-right {
  bottom: 0;
  padding-top: 6px;
  right: 0;
  translate: 0 calc(100% + 4px);
}

.bottom-right .dc-tooltip-arrow {
  border-width: 0 6px 6px;
  border-color: transparent transparent var(--background-color) transparent;
  bottom: 100%;
  right: 12px;
}

/* Right-related orientation classes */
.right {
  padding-left: 6px;
  right: 0;
  top: 50%;
  translate: calc(100% + 4px) -50%;
}

.right .dc-tooltip-arrow {
  border-color: transparent var(--background-color) transparent transparent;
  border-width: 6px 6px 6px 0;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.right-top {
  padding-left: 6px;
  right: 0;
  top: 0;
  translate: calc(100% + 4px) 0;
}

.right-top .dc-tooltip-arrow {
  border-color: transparent var(--background-color) transparent transparent;
  border-width: 6px 6px 6px 0;
  right: 100%;
  top: 8px;
}

.right-bottom {
  bottom: 0;
  padding-left: 6px;
  right: 0;
  translate: calc(100% + 4px) 0;
}

.right-bottom .dc-tooltip-arrow {
  border-width: 6px 6px 6px 0;
  border-color: transparent var(--background-color) transparent transparent;
  bottom: 8px;
  right: 100%;
}

/* Left-related orientation classes */
.left {
  left: 0;
  padding-right: 6px;
  top: 50%;
  translate: calc(-100% - 4px) -50%;
}

.left .dc-tooltip-arrow {
  border-color: transparent transparent transparent var(--background-color);
  border-width: 6px 0 6px 6px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.left-top {
  left: 0;
  padding-right: 6px;
  top: 0;
  translate: calc(-100% - 4px) 0;
}

.left-top .dc-tooltip-arrow {
  border-color: transparent transparent transparent var(--background-color);
  border-width: 6px 0 6px 6px;
  left: 100%;
  top: 8px;
}

.left-bottom {
  bottom: 0;
  left: 0;
  padding-right: 6px;
  translate: calc(-100% - 4px) 0;
}

.left-bottom .dc-tooltip-arrow {
  border-color: transparent transparent transparent var(--background-color);
  border-width: 6px 0 6px 6px;
  bottom: 8px;
  left: 100%;
}

/* Dark color style */
.dark {
  filter: none;

  --background-color: var(--dc-ui-fill-extended-01);
  --text-color: var(--dc-colour-white);
}

/* Class for hiding arrow */
.hide-tip {
  visibility: hidden;
}
