@import url("../../global/css/breakpoints.css");

:host {
  display: inline;
}

.dc-display-card-group {
  column-gap: 48px;
  display: grid;
  row-gap: 32px;
}

@media (--breakpoint-tablet) {
  .dc-display-card-group {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 24px;
  }
}

@media (--breakpoint-desktop) {
  .dc-display-card-group {
    grid-template-columns: 1fr 1fr;
  }
}
