:host {
  display: block;

  --bg-color: var(--dc-secondary-text-color);
  --color-white: #ffffff;
}

.dc-alert-banner {
  padding: var(--dc-padding-05);
  background-color: var(--bg-color);
  color: var(--color-white);
  font-family: var(--dc-font-family);
  font-size: var(--dc-font-size);
}

.dc-alert-banner a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
}

.disabled .dc-accordion-chevron path {
  fill: var(--dc-greyscale-05);
}
