:root {
  --dc-token-background-white-theme: #ffffff;
  --dc-token-ui-background-dark-theme: #000a14;
  --dc-token-ui-background-light-theme: #ccd9fc;
  --dc-token-border-light-theme-01: #800038;
  --dc-token-overlay-dark-01: #000a14;
  --dc-token-overlay-dark-02: #00167f;
  --dc-token-overlay-light-01: #002bfe;
  --dc-token-text-01: #000a14;
  --dc-token-text-02: #ffffff;
  --dc-token-text-03: #00167f;
  --dc-token-text-04: #80a0f8;
  --dc-token-text-05: #666666;
  --dc-token-text-06: #999999;
  --dc-token-border-default-01: #80858a;
  --dc-token-ui-01: #ffffff;
  --dc-token-ui-02: #000a14;
  --dc-token-ui-03: #00167f;
  --dc-token-ui-04: #002bfe;
  --dc-token-ui-05: #80a0f8;
  --dc-token-ui-06: #ff0070;
  --dc-token-ui-07: #ff5c00;
  --dc-token-ui-08: #4adeff;
  --dc-token-ui-09: #00d1c4;
  --dc-token-interactive-01: #002bfe;
  --dc-token-interactive-02: #ffffff;
  --dc-token-interactive-03: #80a0f8;
  --dc-token-interactive-04: #000a14;
  --dc-token-interactive-05: #ff338d;
  --dc-token-interactive-06: #ff80b8;
  --dc-token-interactive-hover-01: #0022cb;
  --dc-token-interactive-hover-02: #e6e7e8;
  --dc-token-interactive-hover-03: #ccd9fc;
  --dc-token-interactive-hover-04: #1a232c;
  --dc-token-interactive-hover-05: #ff0070;
  --dc-token-link-01: #002bfe;
  --dc-token-link-hover-01: #0022cb;
  --dc-token-link-02: #80a0f8;
  --dc-token-link-hover-02: #ccd9fc;
  --dc-token-link-03: #000a14;
  --dc-token-link-04: #ffffff;
  --dc-token-link-visited-white-theme: #6b2fc6;
  --dc-token-link-visited-dark-theme: #b888ff;
  --dc-token-ui-greyscale-01: #000000;
  --dc-token-ui-greyscale-02: #333333;
  --dc-token-ui-greyscale-03: #666666;
  --dc-token-ui-greyscale-04: #999999;
  --dc-token-ui-greyscale-05: #dadada;
  --dc-token-ui-greyscale-06: #f0f0f0;
  --dc-token-disabled-01: #999999;
  --dc-token-disabled-02: #dadada;
  --dc-token-disabled-03: #333333;
  --dc-token-support-01: #fa0000;
  --dc-token-support-02: #f0b02c;
  --dc-token-support-03: #40b549;
  --dc-token-support-04: #3366f3;
  --dc-token-support-extended-01: #c80000;
  --dc-token-support-extended-02: #b98922;
  --dc-token-support-extended-03: #33913a;
  --dc-token-support-extended-04: #0022cb;
  --dc-token-ui-fill-extended-01: #1a232c;
  --dc-token-ui-fill-extended-02: #4d545b;
  --dc-token-ui-fill-extended-03: #80858a;
  --dc-token-ui-fill-extended-04: #b3b6b9;
  --dc-token-ui-fill-extended-05: #e6e7e8;
  --dc-token-ui-fill-extended-06: #000419;
  --dc-token-ui-fill-extended-07: #000b40;
  --dc-token-ui-fill-extended-08: #001266;
  --dc-token-ui-fill-extended-09: #334599;
  --dc-token-ui-fill-extended-10: #808bbf;
  --dc-token-ui-fill-extended-11: #ccd0e5;
  --dc-token-ui-fill-extended-12: #000933;
  --dc-token-ui-fill-extended-13: #00167f;
  --dc-token-ui-fill-extended-14: #0022cb;
  --dc-token-ui-fill-extended-15: #3366f3;
  --dc-token-ui-fill-extended-16: #80a0f8;
  --dc-token-ui-fill-extended-17: #ccd9fc;
  --dc-token-ui-fill-extended-18: #330016;
  --dc-token-ui-fill-extended-19: #800038;
  --dc-token-ui-fill-extended-20: #cc005a;
  --dc-token-ui-fill-extended-21: #ff338d;
  --dc-token-ui-fill-extended-22: #ff80b8;
  --dc-token-ui-fill-extended-23: #ffcce2;
  --dc-token-ui-fill-extended-24: #331200;
  --dc-token-ui-fill-extended-25: #802e00;
  --dc-token-ui-fill-extended-26: #cc4a00;
  --dc-token-ui-fill-extended-27: #ff7d33;
  --dc-token-ui-fill-extended-28: #ffae80;
  --dc-token-ui-fill-extended-29: #ffdecc;
  --dc-token-ui-fill-extended-30: #0f2c33;
  --dc-token-ui-fill-extended-31: #256f80;
  --dc-token-ui-fill-extended-32: #3bb2cc;
  --dc-token-ui-fill-extended-33: #6ee5ff;
  --dc-token-ui-fill-extended-34: #a5efff;
  --dc-token-ui-fill-extended-35: #dbf8ff;
  --dc-token-ui-fill-extended-36: #002a27;
  --dc-token-ui-fill-extended-37: #006962;
  --dc-token-ui-fill-extended-38: #00a79d;
  --dc-token-ui-fill-extended-39: #33dad0;
  --dc-token-ui-fill-extended-40: #80e8e2;
  --dc-token-ui-fill-extended-41: #ccf6f3;
  --dc-token-ui-fill-extended-42: #320000;
  --dc-token-ui-fill-extended-43: #7d0000;
  --dc-token-ui-fill-extended-44: #c80000;
  --dc-token-ui-fill-extended-45: #fb3333;
  --dc-token-ui-fill-extended-46: #fd8080;
  --dc-token-ui-fill-extended-47: #fecccc;
  --dc-token-ui-fill-extended-48: #302309;
  --dc-token-ui-fill-extended-49: #785816;
  --dc-token-ui-fill-extended-50: #b98922;
  --dc-token-ui-fill-extended-51: #f3c056;
  --dc-token-ui-fill-extended-52: #f8d896;
  --dc-token-ui-fill-extended-53: #fcefd5;
  --dc-token-ui-fill-extended-54: #0d240f;
  --dc-token-ui-fill-extended-55: #205b25;
  --dc-token-ui-fill-extended-56: #33913a;
  --dc-token-ui-fill-extended-57: #66c46d;
  --dc-token-ui-fill-extended-58: #a0daa4;
  --dc-token-ui-fill-extended-59: #d9f0db;
}
