:host {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.dc-radio-selection-wrapper {
  display: inline-flex;
  position: relative;
  height: 48px;
  outline: 2px solid var(--dc-greyscale-05);
  border-radius: 8px;
  overflow: hidden;
}

/* Defalut radio button */
.dc-button-wraper {
  display: none;
}

.dc-radio-selection {
  display: flex;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 70px;
  margin-right: 22px;
  margin-top: -10px;
}
.dc-radio-selection {
  outline: none;
  box-shadow: none;
}

/* Label */
.dc-radio-selection-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 77px;
  height: 48px;
  font-size: 16px;
  font-family: var(--dc-font-family);
  font-weight: 500;
  align-items: center;
  background-color: var(--dc-background-colour);
  border: 1px solid transparent;
  box-sizing: border-box;
  align-items: center;
  padding: 14px 16px;
  gap: 12px;
}
.dc-radio-selection-label {
  border-right: 1px solid var(--dc-greyscale-05);
}

.dc-radio-selection-image {
  display: flex;
  height: 18px;
  width: 18px;
  padding-top: 2px;
}
.dc-radio-selection-label .dc-radio-selection-image {
  width: 100px;
  gap: 4px;
}

.dc-radio-selection:hover + .dc-radio-selection-label {
  background: var(--dc-grayscale-06);
  cursor: pointer;
}

/*  */

.dc-radio-selection-label:focus-visible {
  border: 3px solid var(--dc-primary-colour);
  outline-offset: 2px;
  gap: 4px;
}
.dc-radio-selection:checked + .dc-radio-selection-label {
  background-color: var(--dc-primary-colour);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.922 0.373439L4.17153 9.12391L1.07793 6.03031C0.931494 5.88388 0.694057 5.88388 0.547588 6.03031L0.194057 6.38385C0.0476191 6.53028 0.0476191 6.76772 0.194057 6.91419L3.90637 10.6265C4.05281 10.7729 4.29024 10.7729 4.43671 10.6265L13.8059 1.25735C13.9523 1.11091 13.9523 0.87347 13.8059 0.727002L13.4523 0.373439C13.3059 0.227001 13.0684 0.227001 12.922 0.373439Z' fill='white'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: left;
  background-repeat: no-repeat;
  line-height: 12px;
  background-position-x: 12%;
  color: var(--dc-background-colour);
  text-align: center;
  padding-left: 35px !important;
  outline: none;
  width: 100px;
}
.dc-radio-selection:checked:hover + .dc-radio-selection-label {
  background: var(--dc-primary-accent-colour);
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.922 0.373439L4.17153 9.12391L1.07793 6.03031C0.931494 5.88388 0.694057 5.88388 0.547588 6.03031L0.194057 6.38385C0.0476191 6.53028 0.0476191 6.76772 0.194057 6.91419L3.90637 10.6265C4.05281 10.7729 4.29024 10.7729 4.43671 10.6265L13.8059 1.25735C13.9523 1.11091 13.9523 0.87347 13.8059 0.727002L13.4523 0.373439C13.3059 0.227001 13.0684 0.227001 12.922 0.373439Z' fill='white'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: left;
  background-repeat: no-repeat;
  line-height: 12px;
  background-position-x: 12%;
  color: var(--dc-background-colour);
}

.dc-radio-selection-image path {
  fill: var(--dc-primary-text-color);
}

.dc-radio-selection-image {
  display: flex;
  flex-direction: row-reverse;
}

.dc-radio-selectio-image-left .dc-radio-image {
  padding-right: 12px;
}

.dc-radio-image-right .dc-radio-selection {
  padding-left: 12px;
}
