:host {
  display: block;
  outline: none;
}

:host * {
  font-family: var(--dc-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.dc-date-picker-container {
  position: relative;
  max-width: 400px;
  min-width: 272px;
  color: var(--dc-date-picker-primary-text-color);
}

.dc-date-picker-container .dc-date-picker-calendar-container,
.dc-date-picker-container .dc-date-picker-close-wrapper {
  display: none;
}

.dc-date-picker-error-msg {
  display: none;
  color: var(--dc-date-picker-error-color);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  max-width: 272px;
  outline: none;
  padding: 4px 0 0 14px;
  white-space: pre-wrap;
}

/* Calendar open state */
.dc-date-picker-open-calendar datacom-date-picker-input {
  --dc-date-picker-input-padding: 13px 35px 14px 15px;
  --dc-date-picker-input-border-width: 2px 2px 0 2px;
  --dc-date-picker-input-border-radius: 8px 8px 0 0;
  --dc-date-picker-input-border-color: var(--dc-date-picker-primary-interactive-color);
}

.dc-date-picker-open-calendar .dc-date-picker-calendar-container {
  display: block;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: var(--dc-date-picker-primary-interactive-color);
  border-radius: 0 0 8px 8px;
  height: 260px;
  padding-top: 1px;
  position: absolute;
  top: 51px;
  left: 0;
  z-index: 1000;
}

.dc-date-picker-open-calendar .dc-date-picker-error-msg {
  position: absolute;
  top: 314px;
  left: 0;
}

/* Required state */
.dc-date-picker-open-calendar.dc-date-picker-required .dc-date-picker-calendar-container {
  height: 343px;
}

.dc-date-picker-open-calendar.dc-date-picker-required .dc-date-picker-close-wrapper {
  display: flex;
  justify-content: right;
  padding: 24px 16px;
  border-top: 1px solid var(--dc-token-border-default-01);
}

.dc-date-picker-open-calendar.dc-date-picker-required .dc-date-picker-error-msg {
  top: 397px;
}

/* Error state */
.dc-date-picker-error:not(.dc-date-picker-open-calendar) datacom-date-picker-input {
  --dc-date-picker-input-border-bottom-color: var(--dc-date-picker-error-color);
}

.dc-date-picker-error .dc-date-picker {
  border-color: var(--dc-date-picker-error-color);
}

.dc-date-picker-error datacom-date-picker-input {
  --dc-date-picker-input-border-color: var(--dc-date-picker-error-color);
  --dc-date-picker-input-border-hover-color: var(--dc-date-picker-error-color);
}

.dc-date-picker-error .dc-date-picker-calendar-container {
  border-color: var(--dc-date-picker-error-color);
}

.dc-date-picker-error .dc-date-picker-error-msg:not(:empty) {
  display: block;
}
