:host {
  display: block;
  outline: none;
}

:host * {
  font-family: var(--dc-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.dc-datepicker-container {
  position: relative;
  max-width: 400px;
  min-width: 272px;
  color: var(--dc-datepicker-primary-text-color);
}

.dc-datepicker-container .dc-datepicker-calendar-container,
.dc-datepicker-container .dc-datepicker-close-wrapper {
  display: none;
}

.dc-datepicker-container .dc-datepicker-close {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 34px;
  line-height: 18px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  color: var(--dc-datepicker-primary-interactive-color);
  background-color: var(--dc-datepicker-ui-color);
  border: 2px solid var(--dc-datepicker-primary-interactive-color);
  border-radius: 8px;
}

.dc-datepicker-container .dc-datepicker-close:focus-visible {
  outline: 2px solid var(--dc-datepicker-primary-interactive-color);
  outline-offset: 1px;
}

.dc-datepicker-container .dc-datepicker-close:hover:enabled,
.dc-datepicker-container .dc-datepicker-close:active:enabled {
  color: var(--dc-datepicker-interactive-hover-color);
  border-color: var(--dc-datepicker-interactive-hover-color);
}

.dc-datepicker-error-msg {
  display: none;
  color: var(--dc-datepicker-error-color);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  max-width: 272px;
  outline: none;
  padding: 4px 0 0 14px;
  white-space: pre-wrap;
}

/* Calendar open state */
.dc-datepicker-open-calendar datacom-datepicker-input {
  --dc-datepicker-input-border-width: 2px 2px 0 2px;
  --dc-datepicker-input-border-radius: 8px 8px 0 0;
  --dc-datepicker-input-border-color: var(--dc-datepicker-primary-interactive-color);
}

.dc-datepicker-open-calendar .dc-datepicker-calendar-container {
  display: block;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: var(--dc-datepicker-primary-interactive-color);
  border-radius: 0 0 8px 8px;
  height: 260px;
  padding-top: 1px;
  position: absolute;
  top: 51px;
  left: 0;
  z-index: 1000;
}

.dc-datepicker-open-calendar .dc-datepicker-error-msg {
  position: absolute;
  top: 314px;
  left: 0;
}

/* Required state */
.dc-datepicker-open-calendar.dc-datepicker-required .dc-datepicker-calendar-container {
  height: 343px;
}

.dc-datepicker-open-calendar.dc-datepicker-required .dc-datepicker-close-wrapper {
  display: flex;
  justify-content: right;
  padding: 24px 16px;
  border-top: 1px solid var(--dc-token-border-default-01);
}

.dc-datepicker-open-calendar.dc-datepicker-required .dc-datepicker-error-msg {
  top: 397px;
}

/* Error state */
.dc-datepicker-error .dc-datepicker {
  border-color: var(--dc-datepicker-error-color);
}

.dc-datepicker-error datacom-datepicker-input {
  --dc-datepicker-input-border-color: var(--dc-datepicker-error-color);
  --dc-datepicker-input-border-hover-color: var(--dc-datepicker-error-color);
}

.dc-datepicker-error .dc-datepicker-calendar-container {
  border-color: var(--dc-datepicker-error-color);
}

.dc-datepicker-error .dc-datepicker-error-msg:not(:empty) {
  display: block;
}
