:host {
  display: block;
}

:host * {
  font-family: var(--dc-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.dc-datepicker-container {
  position: relative;
  max-width: 400px;
  min-width: 272px;
  color: var(--dc-datepicker-primary-text-color);
}

.dc-datepicker-container .dc-datepicker-close {
  display: inline-flex;
  align-items: center;
  height: 34px;
  line-height: 18px;
  padding: 8px 16px;
  font-size: 14px;
  color: var(--dc-primary-colour);
  background-color: var(--dc-background-colour);
  border: 2px solid var(--dc-primary-colour);
  border-radius: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  z-index: 1000;
}

.dc-datepicker-container .dc-datepicker-close:not(.dc-datepicker-close:focus-visible) {
  clip: rect(0 0 0 0);
}

/* Calendar open state */
.dc-datepicker-open-calendar .dc-datepicker {
  border: 2px solid var(--dc-datepicker-primary-interactive-color);
  border-radius: 8px;
}

.dc-datepicker-open-calendar datacom-datepicker-input {
  --dc-datepicker-input-border-width: 0 0 1px 0;
  --dc-datepicker-input-border-radius: 8px 8px 0 0;
}

/* Error state */
.dc-datepicker-error .dc-datepicker {
  border-color: var(--dc-datepicker-error-color);
}

.dc-datepicker-error datacom-datepicker-input {
  --dc-datepicker-input-border-color: var(--dc-datepicker-error-color);
}

.dc-datepicker-error .dc-datepicker-error-msg:not(:empty) {
  display: block;
}

.dc-datepicker-error-msg {
  display: none;
  color: var(--dc-datepicker-error-color);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  max-width: 272px;
  outline: none;
  padding: 4px 0 0 14px;
  white-space: pre-wrap;
}